repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest --cov=rom_deduper --cov-fail-under=80 --cov-report=term-missing
        language: system
        pass_filenames: false
        stages: [pre-push]
